.form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    padding: 20px;
    background-color: rgba(126, 121, 121, 0.5); /* Imposta l'overlay trasparente */
}
.close {
    color: black;
    border: 1px black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.formTable{
    width: 350px;
    height: 500px;
    background-color: lightgray;
    border-radius: 5%;
    font-size: large;
    
}
.formTable td{
    display: grid;
    padding: 20px;
}
.formTable input{
    margin: 20px;
    border-color:  #4E5F75;
    height: 25px;
}

.formTable button{
    height: 40px;
    background-color: #4E5F75;
}
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    display: none;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }